.addUser-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
  }
  
  .addUser-full-width {
    width: 70%;
  }

  .container-center {
    margin: 50px;
    border-radius: 10px;
  }
  .table-user {
    color: black;
  }

  .form-control{
    width: 40%;
    margin-bottom: 5px;
  }

