{% extends "layout.jinja" %}
{% block content %}
<div >
    {% if cheat == "True" %}
    <div>
        {%for i in code %}
            {{i}}
        {% endfor %}
     {%endif%}
    </div>
</div>

<div class="guessbutton">
    <form method="POST" action="game" >
        {{ form.hidden_tag() }}
        {% if guessed_colors != [] %}
            {% for row in range(guessed_rows) %}
                <div id="parent">
                    {%for i in range(rows) %}
                        <div id="narrow">
                            {% print(guessed_colors[row][i]) %}
                        </div>
                    {%endfor%}
                    {% for check in checks[row] %}
                        {% if check == 2 %}
                            <div class="sq"></div>
                        {% endif %}
                        {% if check == 1 %}
                            <div class="sq red"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        <div id="parent">
	        {%for i in range(rows)%}
		        <div id="narrow">
			        {{ form.input }}
		        </div>
	        {%endfor%}
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock content %}