{% extends "layout.jinja" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{current_user.username}}</legend>
                <div class="form-group">
                </div>
            </fieldset>
            <div class="tableWrap">
                <table>
                    <tr>
                        <th>Datum</th>
                        <th class="table-col">Aantal zetten</th>
                        <th class="table-col">Gewonnen</th>
                        <th class="table-col">Cheatmode</th>
                    </tr>
                    {% for i in info %}
                    <tr>
                        <td>{{ i.date_played }}</td>
                        <td>{{ i.amount_of_guesses }}</td>
                        <td>{{ i.win }}</td>
                        <td>{{ i.cheat }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="form-group">
                {{ form.amount_of_colors.label(class="form-control-label") }}
                {{ form.amount_of_colors(class="form-control form-control-lg") }}
                {{ form.amount_of_rows.label(class="form-control-label") }}
                {{ form.amount_of_rows(class="form-control form-control-lg") }}
                {{ form.cheat.label(class="form-control-label") }}
                {{ form.cheat(class="form-control form-control-lg") }}
                {{ form.double_colors.label(class="form-control-label") }}
                {{ form.double_colors(class="form-control form-control-lg") }}

                {{ form.play(class="btn btn-outline-info") }}
            </div>
        </form>
{% endblock content %}