<div class="container container-center">
    <h1 class="text-light text-center">Gebruikers overzicht</h1>
 </div>
 
<div class="container bg-dark container-center">
    <form>
        <div [formGroup]="updateUser">
            <div class="container pt-2">
                <label for="firstname" class="text-light">Voornaam</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && updateUser.controls.firstname.errors }">
                <div *ngIf="submitted && updateUser.controls.firstname.errors" class="invalid-feedback">
                    <div *ngIf="updateUser.controls.firstname.errors.required">Voornaam is een verplicht veld</div>
                </div>
            </div>

            <div class="container pt-2">
                <label for="lastname" class="text-light">Achternaam</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && updateUser.controls.lastname.errors }">
                <div *ngIf="submitted && updateUser.controls.lastname.errors" class="invalid-feedback">
                    <div *ngIf="updateUser.controls.lastname.errors.required">Achternaam is een verplicht veld</div>
                </div>
            </div>

            <div class="container">
                <label class="text-light" for="email">Email adres</label>
                <input type="email" class="form-control"  formControlName="email" placeholder="voer e-mail adres in" [ngClass]="{ 'is-invalid': submitted && updateUser.controls.email.errors }">
                <div *ngIf="submitted && updateUser.controls.email.errors" class="invalid-feedback">
                  <div *ngIf="updateUser.controls.email.errors.required">Email adres is een verplicht veld </div>
                  <div *ngIf="updateUser.controls.email.errors.pattern">Dit is geen geldig email adres </div>
                  <div *ngIf="updateUser.controls.email.errors.emailExist">Dit email adres bestaat al </div>
                </div>
            </div>

            <div class="container">
                <button type="submit" (click)="UpdateUser()" class="btn btn-primary" id="save-button">Opslaan</button>
            </div>
        </div>
    </form>
    <div class="container">
        <a class="btn btn-danger spacing" routerLink="/users" role="button" id="back-button">
            Terug
         </a>
    </div>
</div>

