<!DOCTYPE html>
    <html>
        <head>
            <title>Express HTML</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.2/lib/draggable.min.js"></script>

            <link rel="stylesheet" type="text/css" href="css/main.css">
            <script src="js/drag.js" defer></script>
        </head>
    <body>
        <div>
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <a class="navbar-brand" href="/">Express HTML</a>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li>
                            <a href="/">Sitemap</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron"  style="padding:40px;">
                <h1>Dit is demo drag and drop:</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                            <h3>Taken:</h3>
                            <div class="block">
                                <div class="droppable draggable-dropzone--occupied">
                                    <div class="draggable">
                                        1: <br> 
                                        Links boven tanden poetsen 
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="droppable draggable-dropzone--occupied">
                                    <div class="draggable">
                                        2: <br> 
                                        Midden boven tanden poetsen 
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="droppable draggable-dropzone--occupied">
                                    <div class="draggable">
                                        3: <br> 
                                        Rechts boven tanden poetsen 
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="droppable draggable-dropzone--occupied">
                                    <div class="draggable">
                                        4: <br> 
                                        Links onder tanden poetsen 
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="droppable draggable-dropzone--occupied">
                                    <div class="draggable">
                                        5: <br> 
                                        Midden onder tanden poetsen 
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="droppable draggable-dropzone--occupied">
                                    <div class="draggable">
                                        6: <br> 
                                        Rechts onder tanden poetsen 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                            <h3>Dagschema:</h3>
                            <div class="block">
                                <div class="droppable"></div>
                            </div>
                            <div class="block">
                                <div class="droppable"></div>
                            </div>
                            <div class="block">
                                <div class="droppable"></div>
                            </div>
                            <div class="block">
                                <div class="droppable"></div>
                            </div>
                            <div class="block">
                                <div class="droppable"></div>
                            </div>
                            <div class="block">
                                <div class="droppable"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Knop voor fun</a></p>
            </div>
        </div>
    </body>
</html>